<% if @article.images.count == 1 %>
    <%= image_tag(@article.images.first, class: "img-fluid") %>
<% elsif @article.images.attached? && @article.images.count > 1 %>
 <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <% @article.images.each_with_index do |image, index| %>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to=<%= index %> class="<%= "active" if index.zero? %>" aria-current="true" aria-label="Slide 1"></button>
      <% end %>
    </div>

    <div class="carousel-inner">
      <% @article.images.each_with_index do |image, index| %>
        <div class="carousel-item <%= "active" if index.zero? %>">
          <img class="bd-placeholder-img" width="100%" height="100%" src="<%=  image_path(url_for(image)) %>"aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Example headline.</h1>
              <p>Some representative placeholder content for the first slide of the carousel.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    
  </div>
<% end %>

    
   