
<%= form_with(model: article) do |form| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@article.errors.count, "erreur") %> empêchent cet article d'être enregistré:</h2>

            <ul>
            <% @article.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    
    <%= form.hidden_field :user_id, :value => current_user.id %>

    <div class="form_group form-block col-12 text">
        <%= form.label :Catégorie, class: 'text' %>
        <%= form.select(:category_id, options_for_select(Category.pluck(:name, :id), selected: form.object.category_id), {:include_blank => 'choississez une categorie :'}, { :class => 'form-control text', :style => '', required: true }) %>
    </div>

    <div class="form_group form-block">
        <%= form.label :titre, class: 'text' %>
        <%= form.text_field :title, required: true, class: "form-control input text mb-2"%>
    </div>

    <div class="form_group form-block">
        <%= form.label :description, class: 'text' %>
        <%= form.text_area :description, required: true, class: "form-control text mb-2", :rows => 4 %>
    </div>

    <div class="form_group form-block">
        <%= form.label :image, 'image principale :', class: 'text' %>

        <% if @article.header_image.present? %>
            <%= image_tag @article.header_image, class: "form-control" %>
        <% end %>

        <% if @article.header_image.present? %>
            <%= form.file_field :header_image, direct_upload: true, class: "form-control mt-2 mb-2" %>
        <% else %>
            <%= form.file_field :header_image, required: true, direct_upload: true, class: "form-control mt-2 mb-2" %>
        <% end %>
        
    </div>

    <div class="form-actions mb-2">
        <%= button_tag( :class => "btn btn-primary col-12") do %>
            <i class="fas fa-check-circle"></i> Valider
        <% end %>
    </div>

<% end %>