<div class="container main-wrapper edit-article">

    <h3 class='mb-5'>Mettre à jour mon article</h3>

    <div class="row">
<!-- LEFT COLUMN : Edite Article-->
        <div class="col-4">
            <%= link_to 'Annuler / back', @article,  class: 'btn-dark-back mb-4' %> 
            <div class="card">
                <div><h4 class="card-title">Editing</h4></div>
                
                <div class="card-body">
                    <!-- Render editing article-->
                    <%= render 'form', article: @article %>
                </div>

                <div class="card-body">
                    <!-- Publish / Unpublih button -->
                    <% if @article.published? %>
                        <a href="#" 
                        class="btn btn-secondary col-12 mb-4"
                        data-reflex='click->PublisherReflex#unpublish'
                        data-article-id='<%= @article.id %>'
                        title="Masquer un article le rend invisble pour les autres utilisateurs, mais ne le supprime pas"><i class="fas fa-file-download"></i> Masquer
                        </a>
                    <% else %>
                        <a href="#" 
                        class="btn btn-primary col-12 mb-4"
                        data-reflex='click->PublisherReflex#publish'
                        data-article-id='<%= @article.id %>'
                        title="Publier un article le rend accessibles aux autres membres"><i class="fas fa-file-upload"></i> Publier
                        </a> 
                        <!-- 1 we call data-reflex - tell him what we want, whitch method AND what result #publish -->
                        <!-- data-post-id => use to provide extra info -->
                    <% end %>
                    <!-- Delete button-->
                    <%= button_to article_path(@article), class: "btn btn-danger col-12 mb-4", method: :delete, :title => 'Supprimer définitivement cet article et son contenu' do %>
                        <i class="fas fa-trash"></i><span class=""> Supprimer cet article</span>
                    <% end %>

                </div>
            </div>
        </div>
<!-- RIGHT COLUMN : Edite Parts of the article-->
        <div class="col-8">
     
            <div class="d-flex justify-content-between">
            
                <div class="mb-3 d-flex">
                    <%= form_with(model: [@article, @element]) do |form| %>
                        <%= form.hidden_field :element_type, value: 'paragraph' %>
                        <%= button_tag(type: 'submit', class: 'element-btn btn btn-secondary mr-1', title: 'Ajouter un paragraphe') do %>
                            <i class="fas fa-paragraph"></i>
                        <% end %>
                    <% end %>
                    <%= form_with(model: [@article, @element]) do |form| %>
                        <%= form.hidden_field :element_type, value: 'image' %>
                        <%= button_tag(type: 'submit', class: 'btn btn-secondary', title: 'Ajouter une image') do %>
                            <i class="far fa-image"></i>
                        <% end %>
                    <% end %>
                </div> 
            
                <div class="text-end">
                    <% if @article.published? %>
                        <span class="badge bg-info">Publié il y a <%= time_ago_in_words(@article.published_at) %></span>
                    <% else %>
                        <span class="badge bg-secondary">Non Publié</span>
                    <% end %>
                </div>

            </div>



            <!-- @article.parts#edit -->
            <div class="card">
                <div class="card-body" data-controller="parts">
                    <ul id='parts-elements' data-action="drop->parts#sort">
                        <% @article.parts.order(position: :asc).each do |part| %>
                            <% if part.persisted? %>
                                <li data-id='<%= part.id %>' class="part-item">
                                    <% if part.paragraph? %> <!-- PARAGRAPH -->
                                        <div class="mb-4 p-3 paragraph">

                                            <div class="paragraph-content">
                                                <% if part.content.present? %>
                                                    <%= part.content %>
                                                <% else %>
                                                    <div class="paragraph-content-empty">
                                                        <i class="far fa-edit"></i> Paragraphe vide, cliquer pour le modifier
                                                    </div>
                                                <% end %>
                                            </div>

                                            <div class="paragraph-form d-none">
                                                <%= form_with(model: [@article, part]) do |form| %>
                                                    <%= form.rich_text_area :content %>
                                                    <div class="mt-3 d-flex justify-content-between">
                                                        <div>
                                                            <%= form.submit "Enregistrer", class: 'btn btn-primary', title: 'enregistrer les modifications' %>
                                                            <a href="#" class="cancel btn btn-secondary" title="Ne pas enregistrer les modifications'">Annuler</a>
                                                        </div>
                                                        <%= link_to 'Supprimer', article_part_path(@article, part), method: :delete, class: 'btn btn-danger', data: { confirm: 'Êtes vous certain de vouloir supprimer ce paragraphe ?'}, title: 'Supprimer le paragraphe'%>
                                                    </div>
                                                <% end %>
                                            </div>

                                        </div>

                                    <% elsif part.image? %> <!-- IMAGE -->
                                        <div class="image mb-4 p-3">
                                            <% if part.image.present? %>
                                                <%= link_to article_part_path(@article, part), method: :delete, class: 'delete-img-btn btn btn-secondary mt-2 float-end', data: { confirm: 'Êtes vous certain de vouloir supprimer cette image?'}, title: "Supprimer l'image" do %>
                                                    <i class="fas fa-times"></i>
                                                <% end %>
                                                <%= image_tag(part.image) %>
                                            <% else %>
                                                <%= form_with(model: [@article, part]) do |form| %>
                                                    <%= form.file_field :image %>
                                                    <div class="mt-3"> 
                                                        <%= form.submit "Save", class: 'btn btn-primary' %>
                                                        <a href="#" class="cancel btn btn-secondary">Cancel</a>
                                                    </div>
                                                <% end %>
                                            <% end %>
                                        </div>
                                    <% end %>
                                </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>
