<%
=begin%>
 <div class="jumbotron">
  <h1>Découvrez les x dernières créations</h1>
  <div class="row">
    <% @last_articles.each do |article| %>
    <div class="col-4 mb-2">
      <%= link_to (article) do %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <h5 class="card-title"><%= article.user.full_name %></h5>
            <h6 class="card-title">Catégorie : <%= article.category.name %></h6>
            <p>
              <span class="badge bg-light text-dark"><%= article.likes.count %> <%= (article.likes.count) < 2 ? 'Like' : 'Likes'%></span>
              <span class="badge bg-light text-dark"><%= article.comments.count %> <%= (article.comments.count) < 2 ? 'commentaire' : 'commentaires'%></span>
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <p class="card-text">
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div> 
<%
=end%>

<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Créations</h1>


  <br>
  <hr>
  <%= link_to 'tous', articles_path %>
  <% Category.all.each do |cat| %>
    <%= link_to cat.name, articles_path(category: cat.name) %>
  <% end %>

  <%
=begin%>
 <% Category.where(display: true).each do |cat| %>
    <%= link_to cat.name, articles_path(category: cat.name) %>
  <% end %> 
<%
=end%>
 
  <hr>
  <br>

  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-4 mb-2">
      <%= link_to (article) do %>
        <div class="card" style="width: 18rem;">
          <h5 class="card-title"><%= article.title %></h5>
          <% if article.images.attached? %>
            <div class="card-img-top" alt="...">
              <%= image_tag article.images.first.variant(resize_to_limit: [150, 150]) %>
            </div>
          <% end %>
          <div class="card-body">
            <div class="row">
              <% if article.user.avatar.attached? %>
                <div class="col-4">
                  <%= image_tag article.user.avatar.variant(resize_to_limit: [50, 50]) %>
                </div>
              <% end %>
              <div class="col-8">
                <h5 class="card-title"><%= article.user.full_name %></h5>
              </div>
            </div>
            <h6 class="card-title">Catégorie : <%= article.category.name %></h6>
            <p>
              <span class="badge bg-light text-dark"><%= article.likes.count %> <%= (article.likes.count) < 2 ? 'Like' : 'Likes'%></span>
              <span class="badge bg-light text-dark"><%= article.comments.count %> <%= (article.comments.count) < 2 ? 'commentaire' : 'commentaires'%></span>
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <p class="card-text">
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

</div>