<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Articles</h1>

  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-4 mb-2">
      <%= link_to (article) do %>
        <div class="card" style="width: 18rem;">
    <%
=begin%>
 <img src="..." class="card-img-top" alt="..."> 
<%
=end%>
          <div class="card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <h5 class="card-title"><%= article.user.full_name %></h5>
            <p>
              <span class="badge bg-light text-dark"><%= article.likes.count %> <%= (article.likes.count) == 1 ? 'Like' : 'Likes'%></span>
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <p class="card-text">
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

</div>