<div class="container">

  <h1>Créations</h1>

  <hr>

  <% if params[:category] == nil %>
    <%= link_to 'Tout', articles_path, class: "filter-article-active" %>
  <% else %>
    <%= link_to 'Tout', articles_path, class: "filter-article" %>
  <% end %>

  <% Category.all.order("name ASC").each do |cat| %>
    <% if params[:category] == cat.name %>
      <%= link_to cat.name.capitalize, articles_path(category: cat.name), class: "filter-article-active" %>
    <% else %>
      <%= link_to cat.name.capitalize, articles_path(category: cat.name), class: "filter-article" %>
    <% end %>
  <% end %>

  <hr>

  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-4">
      <%= link_to (article) do %>
        <div class="card">
          <!-- COVER IMG -->
          <% if article.images.attached? %>
            <div class="card-img-top">
              <%= image_tag article.display_cover_img, class: "img-index" %>
            </div>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= article.title.capitalize %></h5>
            <div class="article-user">
              <%= article.user.full_name %>
            </div>
          </div>
          <div class="card-text">
            <div class="mb-2">
              publié le <%= l(article.created_at, format: :date) %>
            </div>
            <div>
              <span class="article-badge-full"><%= article.category.name %></span>
              <% if article.likes.count > 0 %>
                <span class="article-badge"><%= article.likes.count %> <%= (article.likes.count) < 2 ? 'Like' : 'Likes'%></span>
              <% end %>
              <% if article.comments.count > 0 %>
                <span class="article-badge"><%= article.comments.count %> <%= (article.comments.count) < 2 ? 'commentaire' : 'commentaires'%></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>