<div class="container">

  <div>
    <h5><%= @article.upcase_title %></h5>
    <h6>création de <%= @article.user.full_name %></h6>
  </div>

  <div>
    <p><%= @article.description %></p>
  </div>

  <%= link_to 'Edit', edit_article_path(@article) %>


  <p>
    <%= @article.likes.count %> <%= (@article.likes.count) == 1 ? 'Like' : 'Likes'%>
  </p>

  <% if current_user.id != @article.user.id %>
      <%= button_to article_likes_path(@article), class:"btn btn-outline-primary", method: :post do %>
        <i class="bi bi-hand-thumbs-up"> Like</i>
      <% end %>
  <% end %>

  <hr>

  <h6>Autres création de <%= @article.user.full_name %></h6>

  <div class="row">
    <% @other_articles.each do |article| %>

      <div class="col-4">
          <%= link_to (article) do %>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= article.titleize_title%></h5>
              </div>
            </div>
          <% end %>
        </div>

    <% end %>
  </div>
  
</div>

