<div class="container">

  <div>
    <h5><%= @article.upcase_title %></h5>
    <h6>création de <%= @article.user.full_name %></h6>
  </div>

  <div>
    <p><%= @article.description %></p>
  </div>

  

  <hr>
  
  <p>
    <span class="badge bg-light text-dark"><%= @article.likes.count %> <%= (@article.likes.count) == 1 ? 'Like' : 'Likes'%></span>
  </p>

  

  <% if current_user.id != @article.user.id %>
      <hr>
      <%= button_to article_likes_path(@article), class:"btn btn-outline-primary", method: :post do %>
        <i class="bi bi-hand-thumbs-up"> Like</i>
      <% end %>
  <% end %>

  <% if current_user.id == @article.user.id %>

      <hr>

      <%= button_to edit_article_path(@article), class:"btn btn-outline-primary", method: :get do %>
        <i class="bi bi-pen"> Modifier</i>
      <% end %>

      <br>

      <%= link_to 'Supprimer', @article, class:"btn btn-outline-danger", method: :delete, data: { confirm: 'Êtes vous certain de vouloir supprimer cet article ?' } %>

  <% end %>

  <hr>

  <h6>Autres création de <%= @article.user.full_name %></h6>

  <div class="row">
    <% @other_articles.each do |article| %>

      <div class="col-4">
          <%= link_to (article) do %>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= article.titleize_title%></h5>
              </div>
            </div>
          <% end %>
        </div>

    <% end %>
  </div>
  
</div>

