<div class="container main-wrapper">

  <!-- ARTICLE -->

  <header>
    <!-- TITLE - PUBLISHED - CATEGORY - LIKES - COMMENTS -->
    <div class="mb-4">
      <h1 class='mb-4'><%= @article.upcase_title %></h1>

      <div class="text d-flex justify-content-start">
        <% if user_signed_in? && current_user.id == @article.user.id %>
            <% if @article.published? %> 
                <span class="badge bg-info">Publié</span>
            <% else %>
                <span class="badge bg-secondary">Non Publié</span>
            <% end %>
        <% end %>


        <div class="article-badge-full"><%= @article.category.name %></div>

        <% if user_signed_in? %>
          <% if @article.comments.count > 0 %>
            <div class="article-data">
              <span><i class="fas fa-comment-alt info-icon"></i>  <%= @article.comments.count %></span>
            </div>
          <% end %>
          <% if @article.article_has_like? %>
            <div class="article-data">
              <span data-bs-toggle="tooltip" data-bs-placement="right" title="<%= @article.who_likes_article %>"><i class="fas fa-heart info-icon"></i>  <%= @article.likes.count %></span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- Main Header -->
    <div class="row">

      <!-- Left Header : image -->
      <% if @article.header_image.present? %>
        <div class="col-5"><%=
           image_tag @article.header_image, class: "header-img" %>
        </div>
      <% end %>

      <!-- Right Header : content -->
      <div class="col-7">
        <div class="d-flex align-items-start flex-column" style="height:100%">
          <!-- User and Description -->
          <div>
            <!-- user -->
                <%= link_to @article.user do %>
                    <div class="d-flex justify-content-start mb-4">
                        <% if @article.user.avatar.attached? %>
                            <div class="post-avatar">
                                <%= image_tag @article.user.avatar.variant(resize_to_limit: [60, 60]), class: "rounded-circle" %>
                            </div>
                        <% end %>

                        <div class="align-self-center">
                            <h3 class="text"><strong><%= @article.user.full_name %></strong></h3>   
                        </div>
                    </div>
                <% end %>

            
            <!-- Published info -->   
            <% if @article.published? %>
                <div class="text article-data p-2">
                        publié le <%= l(@article.published_at, format: :date) %>
                </div>
            <% end %>
          
            <!-- description -->
            <div class="p-2">
              <div class="row">
                <div class='col-11'>
                  <h3>Description</h3>
                  <div class="text">
                    <%= @article.description %>
                  </div>
                </div>
              </div>
            </div>
          </div>

       
          

          <!-- Action Zone -->
            <div class="mt-auto" id="post-index-title-wrapper">
                <div class="d-flex justify-content-start">
                    <% if user_signed_in? %>

                        <%= button_to article_likes_path(@article), :title => 'liker', class: "btn btn-primary social-badge", method: :post do %>
                            <i class="far fa-heart action-icon"></i>
                        <% end %>

                        <% if current_user.id != @article.user.id %>

                            <%= button_to user_path(@article.user_id), :title => 'profil', class: "btn btn-primary social-badge", method: :get do %>
                                <i class="far fa-user action-icon"></i>
                            <% end %>
                        <% end %>

                        <% if current_user.id == @article.user.id %>

                            <%= button_to edit_article_path(@article), :title => 'modifier ma publication', class: "btn btn-primary social-badge", method: :get do %>
                                <i class="far fa-edit action-icon"></i>
                            <% end %>

                            <%= button_to @article, class: "btn btn-danger social-badge", :title => 'supprimer ma publication', method: :delete, data: { confirm: 'Êtes vous certain de vouloir supprimer cet article ?' } do %>
                                <i class="far fa-trash-alt action-icon"></i>
                            <% end %>

                        <% end %>

                    <% end %>
                </div>
            </div>

        </div>
      </div>
    </div>
  </header>

  <!-- ARTICLE CONTENT & COMMENT -->
  <article>
    <div class="row">
      <!-- ARTICLE CONTENT -->
      <% if @article_parts.count > 0 %>

        <div class="col-8">
            <% @article_parts.each do |part| %>
            <div class="mb-4">
                <% if part.element_type === 'paragraph' && part.content.present?%>
                    <div class="p-3 text">
                        <%= part.content %>
                    </div>
                <% elsif part.element_type === 'image' && part.image.attached? %>
                        <%= image_tag part.image, class: 'article-img' %>
                <% end %>
            </div>
            <% end %>
        </div>

        <!-- COLUMN DE SEPARATION -->
        <div class="col-1"></div>
        
      <% end %>
      
      <!-- COMMENT -->
      <div class="col-3">

        <% if user_signed_in? %>
          <article>
            <div class="p-3">
                <h3><%= (@article.comments.count) < 2 ? 'Commentaire' : 'Commentaires'%></h3>
            </div>

            <!-- NEW COMMENT -->
            <div class="mb-5">
                <%= form_with(model: [@article, @article.comments.build]) do |f| %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <div class="form-group col-12 mb-2">
                        <div class="mb-2">
                            <%= f.text_area :body, class: 'form-control', required: true %></a>
                        </div>
                        <div class="d-flex justify-content-end">
                            <%= button_tag type: 'submit', class: "btn btn-outline-primary" do %>
                                <i class="far fa-comment-alt"></i>  <span>commenter</span></i>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>

            <!-- DISPLAY COMMENT -->
            <%= render 'comments' %>

          </article>
        <% end %>

      </div>
    </div>
  </article>



  <!-- ADMIN SECTION -->

  <% if user_signed_in? && current_user_is_admin? && current_user.id != @article.user.id %>
    <article>
      <div class="card-admin">
        <div class="d-flex justify-content-center">
          <div class="admin-content">
            <h3 class="dark-color d-none d-sm-none d-md-none d-lg-inline d-xl-inline">Section administrateur</h3>
          </div>
          <div class="admin-content">
            <%= link_to 'Supprimer cette publication', admin_delete_article_article_url(@article), class:"btn btn-outline-danger", method: :delete, data: { confirm: "Êtes vous certain de vouloir supprimer cette publication. Un email sera envoyé au membre afin de l'avertir de cette suppression" } %> 
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <p class="dark-color d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
            En tant qu'administrateur vous pouvez supprimer une publication si vous jugez son contenu inapropriété. <i class="fas fa-exclamation-triangle"></i> Cette action est irréversible !
          </p>
        </div>
      </div>
    </article>
  <% end %>

  <!-- OTHER USER ARTICLE -->

  <% if @other_articles.count > 0 %>

  <hr>

    <article>
      <h3 class='mb-4'><%= (@other_articles.count) > 2 ? 'Autres créations' : 'Autre création'%> de <%= @article.user.first_name.capitalize%></h3>

      <div class="row">
        <% @other_articles.each do |article| %>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <%= link_to (article) do %>
                <div class="card-small">
                  <% if article.header_image.attached? %>
                    <div class="card-img-top mb-1">
                      <%= image_tag (article.header_image), class: "img-fluid" %> 
                    </div>
                  <% end %>
                  <div class="card-body">
                    <h5><%= article.title.capitalize %></h5>
                    <div class="card-text">
                      <div class="mb-2">
                        publié le <%= l(article.created_at, format: :date) %>
                      </div>
                      <div>
                        <span class="article-badge-full"><%= article.category.name %></span>
                        <% if article.comments.count > 0 %>
                          <span><i class="fas fa-comment-alt info-icon"></i>  <%= article.comments.count %></span>
                        <% end %>
                        <% if article.likes.count > 0 %>
                          <span class="social-badge"><i class="fas fa-heart info-icon"></i>  <%= article.likes.count %></span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </article>
  <% end %>

</div><!-- END OF CONTAINER -->








 