<div class="container">

  <!-- ARTICLE -->

  <div>
    <h1><%= @article.upcase_title %></h1>
    <h3>création de <%= @article.user.full_name %></h3>
    <h6>catégorie <%= @article.category.name %></h6>
  </div>

 <% if @article.images.attached? %>
  <% @pictures = @article.images %>
  <p>
  <% @pictures.each do |pic|%>
    <%= pic.record_type %><br>
  <% end %>
  </p>
  <% end %>
  

  <div>
    <p><%= @article.description %></p>
    <p>
      <span class="badge bg-light text-dark"><%= @article.likes.count %> <%= (@article.likes.count) <= 1 ? 'Like' : 'Likes'%></span>
    </p>
  </div>

  <div>
    <% if @article.images.attached? %>

      <div class="row">
        <% @article.images.each do |image| %>
          <div class="col-3">
            <%= image_tag image %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <hr>

  <% if user_signed_in? && current_user.id != @article.user.id %>
      <%= button_to article_likes_path(@article), class:"btn btn-outline-primary", method: :post do %>
        <i class="bi bi-hand-thumbs-up"> Like</i>
      <% end %>
  <% end %>

  <% if user_signed_in? && current_user.id == @article.user.id %>

      <%= button_to edit_article_path(@article), class:"btn btn-outline-primary", method: :get do %>
        <i class="bi bi-pen"> Modifier</i>
      <% end %>

      <br>

      <%= link_to 'Supprimer', @article, class:"btn btn-outline-danger", method: :delete, data: { confirm: 'Êtes vous certain de vouloir supprimer cet article ?' } %>

  <% end %>


  <!-- COMMENT -->

      <% if user_signed_in? %>
  <div class="card my-1">
    <div class="card-body">
      <p class="font-weight-bold">Commentaires</p>
          <%= form_with(model: [@article, @article.comments.build]) do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="form-group">
              <%= f.label 'nouveau commentaires' %>
              <%= f.text_area :body, class: 'form-control' %>
            </div>
            <%= f.submit 'publier', class: 'btn btn-primary mt-1' %>
          <% end %>
    </div>

  <!-- COMMENT PARTIAL -->
    <%= render 'comments' %>

  </div>
      <% end %>


  <!-- OTHER USER ARTICLE -->

  <h2><%= (@article.user.articles.count) <= 3 ? 'autre création' : 'autres créations'%> de <%= @article.user.first_name %></h2>

  <div class="row">
    <% @other_articles.each do |article| %>

      <div class="col-4 mb-3">
          <%= link_to (article) do %>
            <div class="card">
              <% if article.images.attached? %>
                <div class="card-img-top" alt="...">
                  <%= image_tag article.images.first.variant(resize_to_limit: [100, 100]) %>
                </div>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= article.titleize_title%></h5>
              </div>
            </div>
          <% end %>
        </div>

    <% end %>
  </div>

  <!-- ADMIN SECTION -->

  <% if current_user_is_admin? && current_user.id != @article.user.id %>
  <hr>
    <p>admin section</p>


  <%= link_to 'Supprimer cette publication', admin_delete_article_article_url(@article), class:"btn btn-outline-danger", method: :delete, data: { confirm: "Êtes vous certain de vouloir supprimer cette publication. Un email sera envoyé au membre afin de l'avertir de cette suppression" } %> 

  <% end %>
  
</div>

