<% if @user.id == current_user.id %>
    <h5>Vous n'avez encore rien publié.</h5>
<% else %>
    <h5>Ce membre n'a encore rien publié.</h5>
<% end %>

<% if @last_articles.length != 0 %>
    <p class="text">voici les 2 dernières créations publiées :</p>
    <div class="row">
      <% @last_articles.each do |article| %>
        <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-4 col-left">
          <%= link_to (article) do %>
              <div class="card-small">
                <% if article.header_image.attached? %>
                  <div class="card-img-top">
                    <%= image_tag article.header_image, class: "img-fluid mx-auto d-block" %>
                  </div>
                <% end %>
                <div class="card-body">
                  <h5><%= article.title.capitalize %></h5>
                  <div class="article-user">
                    <%= article.user.full_name %>
                  </div>
                  <div class="card-text">
                    <div class="mb-2">
                      publié le <%= l(article.created_at, format: :date) %>
                    </div>
                    <div>
                      <span class="article-badge-full"><%= article.category.name %></span>
                      <% if article.likes.count > 0 %>
                        <span class="social-badge"><i class="fas fa-heart info-icon"></i><%= article.likes.count %></span>
                      <% end %>
                      <% if article.comments.count > 0 %>
                        <span><i class="fas fa-comment-alt  info-icon"></i><%= article.comments.count %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div> 
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>