  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, style: "width: 200px; display: block" %>
  <% end %>

<h3>Mon espace</h3>
<%= link_to 'Ajouter une nouvelle création', new_article_path %>
<br>
<%= link_to 'Créer une nouvelle annonce', new_post_path %>
<hr>
<h2><%= link_to 'New Category', new_category_path %></h2>
<p>modifier mes informations</p>
<div>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
<hr>