<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= image_tag avatar_for(user), style: "width: 150px; display: block", class: "rounded-circle" %>
    <br>
    <%= form.file_field :avatar, direct_upload: true %>
  </div>

  <br>

  <div class="form_group form-block">
    <%= form.label :prénom %>
    <%= form.text_field :first_name, required: true, class: "form-control" %>
  </div>

  <div class="form-group form-block">
    <%= form.label :nom %>
    <%= form.text_field :last_name, required: true, class: "form-control" %>
  </div>

  <div class="form-group form-block">
    <%= form.label :téléphone %>
    <%= form.text_field :phone_number, class: "form-control" %>
  </div>

  <div class="form-group form-block">
    <%= form.label :email %>
    <%= form.text_field :email, required: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field :password, :value => "000000" %>
  </div>

  <div class="field">
    <%= form.hidden_field :show_data, :value => true %>
  </div>

  <div class="form-group form-block">
    <%= form.label :show_data, "Afficher mes coordonnées" %><br>
    <div class="form-control">
        <%= form.label :show_data, "oui", :value => "true"  %>
        <%= form.radio_button :show_data, true %>
        <%= form.label :show_data, "non", :value => "false" %>
        <%= form.radio_button :show_data, false %>
    </div>
    <small class="text text-muted font-weight-light font-italic">permet de rendre visible aux autres utilisateurs votre numéro de téléphone et email dans l'annuaire</small>
  </div>
  
  <div class="actions mt-2">
    <%= form.submit 'modifier mon profil', class: "btn btn-primary"  %>
  </div>

<% end %>

