<%= image_tag avatar_for(@user), style: "width: 200px; display: block", class: "rounded-circle" %>
<h3>profil de : <%= @user.full_name %></h3>
<div>
  <p>
    <%= @user.first_name.capitalize %> a <%= @user.user_pluralize_article %> et il a posté <%= @user.user_pluralize_post %>
  </p>
</div>