<div class="container">

  <div>
    <p>
      user_signed_in? : <%= user_signed_in? %><br><br>
      current_user : <%= current_user %><br>
      session['session_id'] : <%=  session['session_id'] %><br><br>
      session[:current_user_id] : <%= session[:current_user_id] %><br>
    </p>
  </div>


  <div>
    <p>Sort by: 
      <%= link_to "prénom", users_path(order: 'name') %>,
      <%= link_to "nom de famille", users_path(order: 'lastname') %>,
    </p>
  </div>

  <h1>Users</h1>

  <div class="row">
    <% @users.each do |user| %>

      <div class="col-4">
        <%= link_to (user) do %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= user.full_name%></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= pluralize user.articles.count, 'création' %> | <%= pluralize user.posts.count, 'annonce' %> </h6>
              
              <p class="card-text"></p>
              
              <p>
                <%= link_to 'Edit', edit_user_path(user) %>
                <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>

  
  <br>

  <%= link_to 'New User', new_user_path %>

  <br>

  <table>
    <tr>
      <th><%= link_to "prénom", users_path(order: 'name') %></th>
      <th><%= link_to "nom de famille", users_path(order: 'lastname') %></th>
      <th>téléphone</th>
      <th>info</th>
    </tr>

    <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name.capitalize %></td>
      <td><%= user.last_name.capitalize %></td>
      <td><%= user.phone_number %></td>
      <td class="card-subtitle mb-2 text-muted"><%= pluralize user.articles.count, 'création' %> | <%= pluralize user.posts.count, 'annonce' %></td>
    </tr>
    <% end %>

  </table>
</div>