<div class="container">

 <h1>Annuaires des membres</h1>

  <table>
    <tr>
      <th></th>
      <th><%= link_to "prénom", users_path(order: 'name') %></th>
      <th><%= link_to "nom de famille", users_path(order: 'lastname') %></th>
      <th>téléphone</th>
      <th>email</th>
      <th>info</th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.avatar.attached? %>
            <%= image_tag user.avatar.variant(resize_to_limit: [50, 50]) %>
          <% end %>
        </td>
        <td style="width:15%"><%= user.first_name.capitalize %></td>
        <td style="width:15%"><%= user.last_name.capitalize %></td>
        <td style="width:15%"><%= user.phone_number if user.show_data == true %></td>
        <td style="width:15%"><%= user.email if user.show_data == true %></td>
        <td  style="width:40%" class="card-subtitle mb-2 text-muted"><%= pluralize user.articles.count, 'création' %> | <%= pluralize user.posts.count, 'annonce' %></td>
        <td><%= link_to 'voir', user_path(user) %></td>
      </tr>
    <% end %>

  </table>
</div>