<div class="container">

  <!-- USER INFO -->
  <div>
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= render "users/currentuser" %>
    <% else %>
      <%= render "users/user" %>
    <% end %>
  </div>

  <!-- RENDER USER ARTICLE AND POST -->

  <div class="container-fluid">
  <% if @user.articles.count == 0 && @user.posts.count == 0 %>
    <%= render "users/user_publishing/no-publishing" %>
  <% elsif @user.articles.count >= 1 && @user.posts.count == 0 %>
    <%= render "users/user_publishing/article-no-post" %>
  <% elsif @user.articles.count == 0 && @user.posts.count >= 1 %>
    <%= render "users/user_publishing/no-article-post" %>
  <% elsif @user.articles.count >= 1 && @user.posts.count >= 1 %>
    <%= render "users/user_publishing/article-and-post" %>
  <% end %>
  </div>

</div>
