  <li>
    <%= answer.body %> -
    <small>Submitted <%= time_ago_in_words(answer.created_at) %> ago</small>

    <%= form_for [answer, Answer.new] do |f| %>
        <%= f.text_area :body, placeholder: "Add a Reply" %><br/>
        <%= f.submit "Reply"  %>
        <% end %>

    <ul>
        <%= render answer.answers %>
    </ul>

  </li>