  <li>
    <% if answer.user.avatar.attached? %>
        <div class="col-4">
          <%= image_tag answer.user.avatar.variant(resize_to_limit: [50, 50]), class: "rounded-circle" %>
        </div>
      <% end %>
    <small><%= answer.user.full_name %> </small> - <small>il y a <%= time_ago_in_words(answer.created_at) %></small><br>
    <%= answer.body %>
    

    <%= form_for [answer, Answer.new] do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.text_area :body, placeholder: "Add a Reply" %><br/>
      <%= f.submit "répondre", class:"btn btn-outline-info"  %>
      <% if answer.user.id == current_user.id %>
        <%= link_to 'Supprimer ma réponse', [answer.answerable, answer],  class:"btn btn-outline-danger", method: :delete, data: { confirm: "Êtes vous certain de vouloir supprimer votre réponses." } %> 
      <% end %>
    <% end %>

    <ul>
        <%= render answer.answers %>
    </ul>

  </li>