

<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    <div class="field">
      <%= f.select :column_id, Column.pluck(:name, :id), :include_blank => 'choississez la rubrique de votre annonce', required: true %>
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.input :title, required: true %>
    <%= f.input :body, required: true %>
    <%= f.label :picture %>
    <%= f.file_field :picture, class: "form-control" %>
  </div>

  <div class="form-actions mt-2">
    <%= f.button :submit, 'Poster mon annonce', class: "btn-primary" %>
  </div>
<% end %>
