<div class="container">

  <h1>Annonces</h1>

    <% @posts.each do |post| %>

        <div class="card mb-1">
          <div class="card-body">
            <h4 class="card-title"><%= post.title %></h4>
            <h5 class="card-subtitle mb-2 text-muted"><%= post.user.full_name %></h5>
            <p>
              <%= post.body %>
            </p>
            <div class="badge bg-warning text-wrap">
              publié le <%= post.display_created_at %>
            </div>
            <div class="badge bg-info text-wrap">
              <%= post.column.name %>
            </div>
            <% if user_signed_in? && current_user.id != post.user.id %>
              <%= link_to 'Show', post %>
              <%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      
    <% end %>
 
  <br>

  
  <% if user_signed_in? %>
    <%= link_to 'poster une nouvelle annonce', new_post_path %>
  <% end %>


</div>