<div class="container">

  <p>
    <h1>Titre : <strong><%= @post.title %></strong></h1>
    <br>
    <% if @post.user.avatar.attached? %>
        <%= image_tag @post.user.avatar.variant(resize_to_limit: [50, 50]), class: "rounded-circle" %>
    <% end %>
    annonce de : <strong><%= @post.user.full_name %></strong>
  </p>

  <p>
    <small>posté il y a <%= time_ago_in_words(@post.created_at) %></small>
  </p>
  <p>
    <%= @post.body %>
  </p>

  <% if @post.picture.attached? %>
    <p>
      <%= image_tag @post.picture %>
    </p>
  <% end %>

  <% if user_signed_in? && current_user.id == @post.user.id %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>


  <%= link_to 'Back', posts_path %>

<!-- ANSWER SECTION -->

<h3>Répondre à l'annonce</h3>

    <%= form_for [@post, Answer.new] do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.text_area :body, placeholder: "Add a comment" %><br/>
    <%= f.submit "Posté votre réponse" %>
  <% end %>

  <hr>

  <ul>
  <h4>Historique des réponses</h4>
    <%= render @post.answers %>
  </ul>


<!-- ADMIN SECTION -->

  <% if current_user_is_admin? && current_user.id != @post.user.id %>
  <hr>
    <p>admin section</p>
<%
=begin%>
 
    <%= link_to 'Supprimer cette annonce', admin_delete_article_article_url(@article), class:"btn btn-outline-danger", method: :delete, data: { confirm: "Êtes vous certain de vouloir supprimer cette publication. Un email sera envoyé au membre afin de l'avertir de cette suppression" } %>
     
<%
=end%>
  <% end %>
  
  

</div>