<div class="container">

  <p>
    <h1>Titre : <strong><%= @post.title %></strong></h1>
    <br>
    annonce de : <strong><%= @post.user.full_name %></strong>
  </p>

  <p>
    <%= @post.body %>
  </p>

  <% if @post.picture.attached? %>
    <p>
      <%= image_tag @post.picture %>
    </p>
  <% end %>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>

</div>